@charset "UTF-8";

/* Versão Mobile First */

* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
   height: 100vh;
}

body {
       background: black url(../img/back-phone-001.4.jpg) no-repeat; 
       background-size: cover;
       background-position: center center;
}

main{
    background-color: rgba(255, 255, 255, 0.356);
    width: 90vw;
    margin: auto;
    margin-top: 20px;
    border-radius: 10px;
    padding: 10px;
}

h1 {
    text-align: center;
    color: white;
    font-size: 2em;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.582);
}


img {
    display: block;
    margin: auto;
}


img#phone{
    display: block;
    width: 200px;
    
}

img#tablet{
    display: none;
    width: 200px;
    
}

img#print{
    display: none;
    width: 200px;
}

img#pc{
    display: none;
    width: 200px;
}

img#tv{
    display: none;
    width: 200px;
}